@using ShoppersSquare_proto.Models

@{ 
    ProductType category = Model;
}

<div class="mega-banner">
    <h1 class="banner-title"> @category.Name </h1>
    @if (!Request.IsAuthenticated)
    {
        @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "banner-btn" })
        <span class="banner-btn-divider">or</span>
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "banner-btn" })
    }

    @if (Context.User.IsInRole("StoreManager"))
    {
        @Html.ActionLink("Add Product", "Add", "Products", new { category = category.Id }, new { @class = "banner-btn" })
    }

    <style scoped>
        .mega-banner:before {
            background-image: url('@category.ImageUrl');
        }
    </style>

</div>